html,
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#navbar {
    color: #526a9b;
}

.footer {
    background-color: #526a9b;
    line-height: 50px;
    color: white;
    text-align: center;
    margin-top: 40px;
    font-size: 16px;
}

.bg-dark {
    background: none !important;

}

.navbar-nav {
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
    border-bottom: 2px solid #526a9b;
}

.navbar-nav img {
    vertical-align: middle;

}

.navbar-nav a {
    text-align: center;
    display: inline-block;
    color: black !important;

}

.home_top {
    padding: 40px;

    display: flex;
    align-items: center;
    background-color: #526a9b;
    justify-content: space-between;
}

.home_word1 {
    text-align: left;
    ;
    line-height: 30px;
    font-size: 1rem;
    color: white;
    border-left: 2px solid #f8f8f8;
    padding-left: 20px;
}

.nav_content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav_content2 {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.nav_content2 a {
    text-align: right;
}



.home_bg {
    margin-top: 20px;
}

.home_title {
    line-height: 40px;
    font-size: 30px;
    border-top: 2px solid #526a9b;

    margin-top: 30px;
}

.imgs {
    padding: 5px;
    background-color: white;
    border-radius: 50%;

}

.create_page {
    padding: 40px;
    border: 1px solid #e2e2e2;
    height: 500px;
}

.create_page div {
    margin-top: 30px;
}

.create_page h2 {
    color: #526a9b;
    line-height: 40px !important;
}

.firstName {
    border: none;
    outline: none;
    border-bottom: 2px solid #526a9b;
}

.btn {
    background-color: none;

    border: none;
    outline: none;

    background-color: white;
    border: 1px solid #526a9b;
    color: rgb(0, 0, 0);
    width: 30%;
}

.btns {
    display: flex;
    justify-content: center;
}

.btn:hover {
    background-color: #526a9b;

}

.upload_form .form-group {

    display: flex;
    justify-content: space-between;
}

.upload1,
.upload_form2,
.login_box {
    border: 1px solid #e2e2e2;
}

.upload_form2 {
    padding-bottom: 20px;
}

.login_box {
    padding: 50px;
}