{% extends "base.html" %}

{% block title %}Home{% endblock %} {% block content %}

<section align="center" class="container-fluid">
	<div class="row " style="display: flex;justify-content: center;background:#526a9b;padding: 20px;">

		<div style="background:#526a9b ;width: 100%;display: flex;
		justify-content: space-around;">
			<img src="../static/img/a1.jpeg" class="col-3 imgs " alt="">
			<img src="../static/img/a2.jpeg" class="col-lg-3 col-3 imgs" alt="">
			<img src="../static/img/a3.jpeg" class="col-lg-3 col-3 imgs" alt="">
			<img src="../static/img/a4.jpeg" class="col-3 imgs" alt="">

		</div>

	</div>
	<div class="row home_top">
		<div class="col-12 col-lg-9 col-md-9 col-xl-9  col-sm-12 col-xs-12 ">
			<p class="mbr-text mbr-fonts-style display-7 home_word1">
				This is a Gastrointestinal Cancer detection website. 
				There are two types of Gastrointestinal Cancer, MSI and MSS.
				MSI means that there is a high amount of instability in a tumor whereas MSS means that there is a high amount of stability in a tumor.
				Knowing which type of Gastrointestinal Cancer is very important because they both require different treatments. 
				An image of your scan can be uploaded to our CNN predictive model to help to identify its type and accuracy.
				Each result from the predictive model can be saved as a record into the database to keep track of a patients progress. 
			</p>


		</div>
		<img class="col-12 col-lg-3 col-md-3 col-xl-3  col-sm-12 " src="../static/img/1.jpg" alt="">

	</div>

</section>




<h1 align="center" class="home_title">
	<span>
		Patients
	</span>
</h1>

<div class="row">
	<div class="col-md">
		<div class="card-body">
			<table class="table table-hover table-sm">
				<thead>
					<tr>
						<th>Patient ID</th>
						<th>Patient Name</th>
						<th>Patient Result History</th>
					</tr>
					</tr>
					{% for patient in user.patients %}
					<tr>
						<td>{{ patient.id }}</td>
						<td>{{ patient.first_name }}</td>
						<td><a class="btn btn-primary btn-sm btn-block"
								href="{{ url_for('auth.result_history', patient_id = patient.id) }}">View</a></td>
					</tr>
					{% endfor %}
			</table>
		</div>
	</div>
</div>

{% endblock %}
