{% extends "base.html" %}

{% block title %}Home{% endblock %} {% block content %}

<section align="center" class="container-fluid">
	<div class="row " style="display: flex;justify-content: center;background:#526a9b;padding: 20px;">

		<div style="background:#526a9b ;width: 100%;display: flex;
		justify-content: space-around;">
			<img src="../static/img/a1.jpeg" class="col-3 imgs " alt="">
			<img src="../static/img/a2.jpeg" class="col-lg-3 col-3 imgs" alt="">
			<img src="../static/img/a3.jpeg" class="col-lg-3 col-3 imgs" alt="">
			<img src="../static/img/a4.jpeg" class="col-3 imgs" alt="">

		</div>

	</div>
	<div class="row home_top">
		<div class="col-12 col-lg-9 col-md-9 col-xl-9  col-sm-12 col-xs-12 ">
			<p class="mbr-text mbr-fonts-style display-7 home_word1">
				This is a cancer detection website. You can upload an image of your cancer cell section, and our CNN
				predictive model can help you identify whether the image contains cancer cells.
				The underlying core of this prediction system is the prediction model based on CNN algorithm. With
				continuous improvement, the model is 90% accurate.
				You can upload an image into by clicking Upload Image on the top, and the system will make a
				prediction about the image and give feedback.
			</p>


		</div>
		<img class="col-12 col-lg-3 col-md-3 col-xl-3  col-sm-12 " src="../static/img/1.jpg" alt="">

	</div>

</section>




<h1 align="center" class="home_title">
	<span>
		Patients
	</span>
</h1>

<div class="row">
	<div class="col-md">
		<div class="card-body">
			<table class="table table-hover table-sm">
				<thead>
					<tr>
						<th>Patient ID</th>
						<th>Patient Name</th>
						<th>Patient Result History</th>
					</tr>
					</tr>
					{% for patient in user.patients %}
					<tr>
						<td>{{ patient.id }}</td>
						<td>{{ patient.first_name }}</td>
						<td><a class="btn btn-primary btn-sm btn-block"
								href="{{ url_for('auth.result_history', patient_id = patient.id) }}">View</a></td>
					</tr>
					{% endfor %}
			</table>
		</div>
	</div>
</div>

{% endblock %}