{% extends "base.html" %}

{% block title %}Upload Image{% endblock %} {% block content %}


<div class="container upload1">
  <h2>
    Upload Image
  </h2>
  <div class="row">
    <form class="form-horizontal upload_form col-12" action="/get_output" method="post" enctype="multipart/form-data">

      <div class="form-group">
        <input type="file" class="form-control  col-5" placeholder="Hours Studied" name="my_image" id="pwd">
        <div class="col-sm-offset-2 col-7">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </div>


    </form>

  </div>
  <h2>
    Show Image
  </h2>
  <img src="{{show_image}}" height="200px" width="200px">

  <h2>{{ pred_lab }} {{ pred_perc }}</h2>

</div>





<form method="POST" class="container upload_form2" action="/save_result">
  <div class="form-group">
    <label for="patientID">Patient ID</label>
    
    <select name="patientID" method="GET" >
    {% for patient in user.patient %}
        <option value="{{ patient.id }} {{ patient.first_name }}" SELECTED>{{ patient.id }} {{ patient.first_name }}</option>"
        
    {% endfor %}
    </select>
  </div>
  
  <div class="form-group">
    <label for="percentage">Result</label>
    <select name="percentage" method="GET" >
    <option value="{{ pred_lab }} {{ pred_perc }}" SELECTED>{{ pred_lab }} {{ pred_perc }}</option>"
    </select>
  </div>
  
  
  
  <label for="note">Additional Notes</label>
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-success">Save Result</button>
  </div>
</form>

{% endblock %}
